

#navbar{
  position: sticky;
  top:0;
  left: 0;
  z-index: 100;
  padding: .5rem 5rem;
  box-shadow: 5px 5px 20px rgba(0,0,0,.2);
  background: rgba(9, 37, 122, 0.915)
}

.nav-item .nav-link{
  color: white;
  border-bottom: 2px solid transparent;
}

.nav-item .nav-link:hover{
  border-bottom: 2px solid;
}

#navbarSupportedContent button{
  background-color: white;
  border-radius: 15px;
}

/* HOME */
.section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home{
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url('./assets/coverimage.png');
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

#home h2{
  font-size: 100px;
  color: white;
  letter-spacing: 3px;
  text-shadow: 0px 1px 0px #CCC,
  0px 2px 0px #CCC,
  0px 3px 0px #CCC,
  0px 4px 0px #CCC,
  0px 5px 0px #CCC,
  0px 6px 0px #CCC,
  0px 7px 0px #CCC;
}
@media (max-width: 768px) {
  #home h2 {
    font-size: 60px; /* Adjust font size for smaller screens */
  }
}
@media (max-width: 576px) {
  #home h2 {
    font-size: 40px; /* Further adjust font size for even smaller screens */
  }
}

#home p{
  color: white;
  font-size: 18px;
}

#about{
  background: linear-gradient(to right,#05134a,#0e78e3 100%);
}

#about h1{
  font-weight: 800;
  font-size: 50px;
  color: white;
}
@media (max-width: 768px) {
  #about h1{
    font-size: 40px; /* Adjust font size for smaller screens */
  }
}
@media (max-width: 576px) {
  #about h1{
    font-size: 30px; /* Further adjust font size for even smaller screens */
  }
}

#about p{
  color: white;
}

#about img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#projects{
  background: linear-gradient(to right,#0e78e3 ,#05134a,#0e78e3 100%);
}

#projects h1{
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
}
@media (max-width: 768px) {
  #projects h1{
    font-size: 40px; /* Adjust font size for smaller screens */
  }
}
@media (max-width: 576px) {
  #projects h1{
    font-size: 30px; /* Further adjust font size for even smaller screens */
  }
}

#project{
  background: rgb(14, 66, 118);
  color: white;
  border: none !important;
  
  border-radius: 10px !important;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.15s;
  margin: 20px 60px;
}
#project:hover{
  box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.3),
              inset 4px 4px 10px rgba(8, 35, 69, 0.464);
}

#project img{
  border:none;
  padding: 0px 10px;
  height: 200px;
  width: 100%;
  object-fit: contain;
  
}

#certifications{
  background: linear-gradient(to right,#05134a,#2e0440 100%)
}
#certifications h1{
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
}
@media (max-width: 768px) {
  #certifications h1{
    font-size: 40px; /* Adjust font size for smaller screens */
  }
}
@media (max-width: 576px) {
  #certifications h1{
    font-size: 30px; /* Further adjust font size for even smaller screens */
  }
}

.accordion-button {
  background:linear-gradient(to right,#05134a,#2e0440 100%);
}

.accordion-body{
  background:linear-gradient(to right,#05134a,#65078d 100%);
  color: white;
}

#achievements{
  background: linear-gradient(to right,#05134a,#2e0440,#05134a 100%);
}

#achievements h1{
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
}
@media (max-width: 768px) {
  #achievements h1{
    font-size: 40px; /* Adjust font size for smaller screens */
  }
}
@media (max-width: 576px) {
  #achievements h1{
    font-size: 30px; /* Further adjust font size for even smaller screens */
  }
}